html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; 
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

body {
  background-color:#e0e0e8;
	font-family: 'Helvetica', sans-serif;
  color:#001;
  font-size: 100%;
  font-weight: 100;
}

div {
	margin-top: 0em;
}

.wrapper {
  padding-top: 1.7em;
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
	margin-left:0;
	margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  outline: none;  
}

a, a:visited {
  color: #008;
}

.title {
  font-weight: 400;
  font-size: 125%;
  color: #114;
}

.subtitle {
	margin-bottom:0.5em;
}

.date {
  font-style: italic;
	margin-top: -0.4em;
	margin-left: 1em;
	margin-bottom: 1em;
  font-size: 80%;
  color: #008;
}

.heading {
  font-style: bold;
  font-size: 125%;
  margin: 0em 0em 0em 0em;
}

.blurb {
  font-style: italic;
  padding: 0.1em 0.1em 0.25em 0.25em;
  color: #333;
}

.post {
	padding-top:0.5em;
	border-top:1px solid #d0d0d8;
}

.posttitle a {
  font-weight: 400;
  color: #001;
}

.comment-link {
  margin: 0em 0em 1em 0em;  
}

blockquote {
	color: #445;
  margin-left: 1.5em;
  padding-left: 1em;
}

a:hover, a:focus {
  color: #99a;
}