body {
  background: #222;
  font-family: "proxima-nova-1","proxima-nova-2","Helvetica Neue",Helvetica,Arial,sans-serif
  color:#bbc;
  font-size: 90%;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.wrapper {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background: #3d3d3f;
  padding-top: 1.7em;
  margin-top: 4em;
  margin-bottom: 4em;
}

br {
  margin: 0em 0em 1.5em 0em;
}

a {
  text-decoration: none;
  outline: none;  
}

a, a:visited {
  color: #99c;
  text-shadow: 0px 0px 2px #aad;
}

a:hover, a:focus {
  color: #ccf;
  text-shadow: 0px 0px 2px #ccf;
}

.spotlight {
  color: #aaf;
  text-shadow: 0px 1px 0px #000;
}

.lowlight {
  color: #666;
  text-shadow: 0px 0px 4px #ccf;
}

.date {
  font-style: oblique;
  border-bottom: 1px solid #666;
}

.heading {
  font-style: bold;
  font-size: 125%;
  margin: 0em 0em 0em 0em;
}

.blurb {
  font-style: italic;
  font-size: 125%;
  padding: 0.1em 0.1em 0.25em 0.25em;
  color: #333;
  text-shadow: 0px -1px 0px #777;
}

.title {
  font-style: italic;
  font-size: 150%;
  margin: 0em 0em 1em 0em;
}

.comment-link {
  margin: 0em 0em 1em 0em;  
}

.sidebar {
  font-size: 75%;
}

.recent-comments {
  font-size: 80%;
  font-weight: 100;
  margin: 0em 1em 0em 0em;
  padding: 0em 0.5em;
  border-left: 1px solid #aad;
}

blockquote {
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 1px solid #aad;
}