body {
  background: url("../images/background5.png");;
	font-family: 'Gudea', sans-serif;
  color:#bbb;
}

div {
  font-size: 125%;
  font-weight: 200;
}

.wrapper {
  padding-top: 1.7em;
  margin-top: 2em;
  margin-bottom: 2em;
}

br {
  margin: 0em 0em 0.5em 0em;
}

a {
  text-decoration: none;
  outline: none;  
}

a, a:visited {
  color: #99c;
}

a:hover, a:focus {
  color: #ccf;
}

.spotlight {
  color: #aaf;
}

.lowlight {
  font-size: 150%;
  color: #666;
}

.links {
	margin-top: -0.8em;
	margin-left: 1em;
  font-size: 80%;
  margin-bottom: 1em;
}

.date {
  font-style: italic;
	margin-top: -0.8em;
	margin-left: 1em;
	margin-bottom: 1em;
  font-size: 50%;
  color: #aaf;
}

.heading {
  font-style: bold;
  font-size: 125%;
  margin: 0em 0em 0em 0em;
}

.blurb {
  font-style: italic;
  padding: 0.1em 0.1em 0.25em 0.25em;
  color: #333;
}

.title {
  font-style: italic;
}

.posttitle a {
  color: #666;
}

.comment-link {
  margin: 0em 0em 1em 0em;  
}

.sidebar {
}

.recent-comments {
  margin: 0em 1em 0em 0em;
  padding: 0em 0.5em;
  border-left: 1px solid #aad;
}

blockquote {
	color: #aaa;
  font-size: 100%;
  margin-left: 1.5em;
  padding-left: 1em;
}