---
layout: default
title: CORY ONDREJKA
---
<div class="span-23 title">
  <div class="span-20"><a href="/index.html"><span class="title"><b>CORY</b>ONDREJKA/blog</span></a></div>
</div>

<div class="span-23">
{% for post in site.posts limit:5 %}
<div class="post">
<div class="posttitle"><a href="{{ post.url }}">{{ post.title }}</a></div>
<div class="date">{{ post.date | date: "%A, %B %d, %Y" }}</div>
{{ post.content }}
</div>
{% endfor %}

{% for post in site.posts offset:5 %}
<span class="date">{{ post.date | date: "%A, %B %d, %Y"  }}</span>
<div class="blurb"><a href="{{ post.url }}">{{ post.title }}</a></div>
{% endfor %}
</div>