---
layout: default
title: Agile or Dead
---
<div class="span-23 title">
  <div class="span-8"><a href="/index.html"><span class="lowlight">Agile or Dead</span></a></div>
  <div class="span-15 last">
    <a href="/blog.html">Blog</a>
    <a href="/speaking.html">Speaking</a>
    <a href="/advising.html">Advising</a>
    <a href="/code.html"><span class="lowlight">Code</span></a>
    <a href="/cv.html">About</a>
    <a href="http://feeds2.feedburner.com/github/fgmV">RSS</a>
  </div>
</div>

<div class="span-8">
  <div class="sidebar">
  {% for post in site.categories.code %}
  <span class="date">{{ post.date | date: "%A, %B %d, %Y"  }}</span>
  <div class="blurb"><a href="{{ post.url }}">{{ post.title }}</a></div>
  {% endfor %}
  </div>
</div>
<div class="span-14 last">
  {% for post in site.categories.code limit:5 %}
  <span class="date">{{ post.date | date: "%A, %B %d, %Y" }}</span>
  <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
  {{ post.content }}
  <div class="comment-link"><a href="{{ post.url }}#disqus_thread">{{ post.title }}</a></div>
  {% endfor %}
</div>
