<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<meta http-equiv="content-script-type" content="text/javascript" />
  	<meta http-equiv="PRAGMA" content="NO-CACHE">
    <title>{{ page.title }}</title>
    <meta name="author" content="Cory Ondrejka" />
    <meta name="description" content="{{ page.title }}">
  	<meta name="keywords" content="virtual worlds, music, programming, javascript, innovation" />
		<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blog.css" type="text/css" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript" src="/js/scriptaculous.js?load=effects,controls"></script>
    <link rel="icon" type="image/gif" href="/favicon.gif">
  </head>
  <body>
    <div class="container">
      <div class="span-24 wrapper">
        <div class="span-23">
        {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
