---
layout: default
---
<div class="span-23 title">
  <div class="span-20"><a href="/index.html"><span class="lowlight">prompt criticality</span></a></div>
  <div class="span-20 links">
    <a href="/blog.html">blog</a>
    <a href="/speaking.html">speaking</a>
    <a href="/advising.html">advising</a>
    <a href="/code.html">code</a>
    <a href="/cv.html">about</a>
  </div>
</div>

<div class="posttitle"><a href="{{ post.url }}">{{ post.title }}</a></div>
<div class="date">{{ post.date | date: "%A, %B %d, %Y" }}</div>
 {{ content }}
 <div class="comments">
   <div id="disqus_thread"></div>
   <script type="text/javascript" src="http://disqus.com/forums/collapsinggeography/embed.js"></script>
 </div>
